* {
	background-color: lightgray;
}

h1 {
	font-family: Arial;
	font-size: 3em;
	text-align: center;
	background-color: darkgray;
}

h2 {
	font-family: Arial;
	text-align: center;
	background-color: darkgray;
}

img {
	border-radius: 15px;
	display: block;
	margin: auto;
	width: 15%;
}

p, section {
	font-family: 'Roboto', sans-serif;
}

p {
	text-align: center;
}

ul {
	border-style: solid;
	border-radius: 5px;
    display: inline-block;
    border-width: 3px 2px 3px 2px;
}